body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 270px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -135px;
    margin-top: -240px;
    padding-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

p {
    text-align: center;
    font-size: 15px;
}

.first {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.second {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.text {
    margin-top: 30px;
}

